*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkgrey;
  color: #fff;
}


#main-header{
  padding: 10px;
  background-color: rgb(72, 87, 118);
  width: 100%;
  text-align: center
}

.socialLinks{
  list-style-type: none;
  display: flex;
  align-items:center;
  justify-content:center;
}
.socialLinks li {
  padding: 2px;
}
.socialLinks li a{
  color:#fff;
}

#main-footer{
  display: flex;
}